# Environment variables
.env
.env.*

# Docker files
.docker/data
docker-compose.override.yml
*.log

# Application files
node_modules
dist
build
.cache

# Docker volumes
volumes/
data/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db